body {background-color:#fdf4f0;
    text-align: center;
font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif}
h1 {color: #8b221c;}
form {color: #a03c43;}
div {margin-top: 300px;}
input {background-color: rgba(213, 200, 252, 0);
    margin: 5px;
    border-radius: 5px;}
label {padding: 15px;}
button {color: #8b221c;
    border-color: #8b221c;
    cursor:pointer;
    border-radius: 10px;
    background-color: #f5b1ac34;}